_build/
_opam/
.vscode/

CoqMakefile
CoqMakefile.conf
.CoqMakefile.d
Makefile
Makefile.conf
Makefile.coq
Makefile.coq.conf
.Makefile.d

META

*.o
*.mlg.d
*.cmi
*.cmt
*.cmx
*.cmxs

*.vo
*.vos
*.glob
*.vok
*.aux
*.cache
*.html
*.css