_build/
_opam/
.vscode/
autom4te.cache/

configure
configure~
config.status
config.log

_CoqProject
CoqMakefile
CoqMakefile.conf
.CoqMakefile.d
Makefile
Makefile.conf
Makefile.coq
.Makefile.coq.d
Makefile.coq.conf
.Makefile.d

META

*.o
*.mlg.d
*.cmi
*.cmt
*.cmx
*.cmxs

*.vo
*.vos
*.glob
*.vok
*.aux
*.cache
*.html
*.css
